h1{
    text-align: center;
    color: rgb(236, 182, 100);
    margin-bottom: 100px;
}

table{
    text-align:left; 
    width:100%;
}
#bot{
    margin-bottom: 30px;
}
button{
    padding: 00.5em 1em;
    font-size: 110%;
    border: none;
    background:rgb(131, 42, 42);
}